
.add_user_page .form_rows > div{
    display: flex;
    align-items: flex-end;
}
.add_user_page .form_rows .btn{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 13px 25px;
    border: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
    background-color: #101A32;
    border-radius: 4px;
}
.add_user_page .form_rows .btn.addbtn{
  margin-top: 10px;
}