/* src/components/CustomSidebar.css */
.sidebar{
  padding: 40px 40px;
}
.sidebar .sidebar_header .sidebar_logo{
  font-size: 24px;
  line-height: 36px;
}
.sidebar_items .sidebar_item{
  padding: 10px 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}
.sidebar_items .sidebar_item svg{
  font-size: 20px;
  width: 24px;
  height: 24px;
}
.sidebar_items .sidebar_item span{
  font-size: 16px;
  line-height: 24px;
}