.p-menubar-button{
    display: none !important;
}
.root_layout{
    display: flex;
    gap: 20px;
    height: 100vh;
}
.right_components{
    width: 100%;
    margin: 0 20px;
     display: flex;
flex-direction: column;
gap: 20px;    
}
.sidebar_components{
    height: 100%;
    background-color: #101A32;
    color: white;
}
.outlet_component{
    height: 100%;
}
@media screen and (max-width: 650px) {
   
    .navbar .icon{
        display: block;
    }
    .root_layout{
        width: 100%;
        gap: 0;
    }
    .right_components{
        width: 100%;
        margin: 0;
    }
}